.dropdown-remove-button {
  width: auto;
  aspect-ratio: 1/1;
  background-color: inherit;
  color: var(--light-grey);
  transition: 400ms all ease;
}

.dropdown-remove-button:hover {
  color: var(--main-element);
}
