.sidebar-wrapper {
  width: 32.5%;
  height: calc(100vh - 60px);
  position: relative;
  border-radius: 8px;
  border: 2px solid var(--light-grey);
}

.sidebar {
  color: var(--main-text);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.sidebar-head {
  display: flex;
  color: var(--main-text);
  align-items: center;
  font-size: 30px;
  gap: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.sidebar-menu {
  border: 1px solid var(--main-background);
  border-radius: 4px;
  padding: 1px;
}

.sidebar-menu:hover {
  border-color: var(--light-grey);
  box-shadow: var(--box-shadow);
}

.sidebar-menu-open {
  border-color: var(--light-grey);
  box-shadow: var(--box-shadow);
}

.sidebar-menu-inner {
  display: flex;
  flex-direction: row-reverse;
  width: 52px;
  gap: 10px;
  padding: 5px;
  border: 1px solid var(--main-background);
  border-radius: 2px;
  overflow: hidden;
  transition: 400ms all ease;
}

.sidebar-menu-inner:hover {
  border: 1px solid var(--main-element);
}

.sidebar-menu-inner-open {
  width: auto !important;
}

.sidebar-menu-button {
  background-color: var(--main-background);
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms all ease;
}

.sidebar-menu-button:hover {
  color: var(--main-element);
}

.sidebar-menu-button-selected {
  color: var(--main-element);
}

.sidebar-datasource-link {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(18, 119, 196);
  margin-left: 10px;
}

.sidebar-datasource-link:hover {
  text-decoration: underline;
}
