@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");

:root {
  --main-background: #333333; /* or #101046 */
  --main-element: #1277c4; /* or #007afc */
  --main-text: #fff;
  --light-grey: #666;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --main-red: "#FF3131";
  --main-green: "#39FF14";
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--main-background);
  font-family: "JetBrains Mono", monospace;
}

.mapPopup .leaflet-popup-content {
  width: 100% !important;
}

.countryNameBox:hover {
  color: var(--main-element);
}

.leaflet-container {
  background-color: var(--main-background) !important;
}

/* otherwise the leaflet icon has zIndex of 1000 and is overlapping popups */
.leaflet-bottom {
  z-index: 402;
  left: 50%;
  transform: translateX(-50%);
  right: unset;
  bottom: 20px;
}

.leaflet-bottom .leaflet-control {
  background: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.leaflet-bottom .leaflet-control a {
  color: var(--main-element);
}

/* removes border around parent container in treemap */
.treemap .cursor-pointer:first-of-type path:first-of-type {
  display: none;
}

.mapToggle .MuiToggleButtonGroup-grouped {
  color: var(--main-text) !important;
}

.hoverInfoText {
  position: absolute;
  white-space: nowrap;
  background: var(--main-element);
  padding: 4px 12px;
  top: 70;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid;
  color: var(--main-text);
}

.plotWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutUsHeader {
  margin: 20px 0 5px;
}

/* centering of map container is not functioning anymore since removing osm */
.leaflet-pane {
  margin-top: 40px;
}

.leaflet-control-zoom {
  display: none;
}

.circle {
  z-index: 1000;
  background: rgb(18, 119, 196);
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--main-text);
  border: 2px solid;
  padding: 4px 0;
}

.mainSlider {
  margin-top: 30px !important;
  color: var(--main-element) !important;
  height: 10px !important;
}

.mainSlider .MuiSlider-markLabel {
  color: var(--main-element) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-top: 5px !important;
  z-index: 1000 !important;
}

.mainSlider .MuiSlider-markLabel:first-of-type {
  left: 1% !important;
}

.mainSlider .MuiSlider-markLabel:last-of-type {
  right: 99% !important;
}

.mainSlider .MuiSlider-rail {
  box-shadow: var(--box-shadow) !important;
}

.mainSlider .MuiDialog-paperScrollPaper {
  max-width: 90% !important;
  width: 800px !important;
  height: calc(100% - 64px) !important;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px 0;
}

.mainOuterBox {
  width: 65%;
  height: calc(100vh - 60px);
  display: block;
}
